---
import BaseLayout from '../layouts/BaseLayout.astro';

import collection from '../data/ai.json';
import exports from "../data/bia-ai-export.json";
import AIDatasetCard from '../components/AIDatasetCard.astro';

const datasets = exports["datasets"];

---
<BaseLayout pageTitle={ collection.name }>
  <body>
    <section class="vf-intro | embl-grid embl-grid--has-centered-content">
        <div></div>
        <div>
            <h1 class="vf-intro__heading vf-intro__heading--has-tag">{ collection.title }<a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">alpha</a></h1>
            <h2 class="vf-intro__subheading">{ collection.subtitle }</h2>
            <p class="vf-hero__text">{ collection.description }</p>
            <p></p>
            <p class="vf-hero__text"> <a href="how_to_contribute.html">Check here </a> for how to contribute</p>
        </div>
        <div></div>
    </section> 
    <section class="vf-card-container vf-card-container__col-3 | vf-u-background-color-ui--white vf-u-fullbleed" style="--vf-card__image--aspect-ratio: 16 / 9;">
        <div class="vf-card-container__inner">
          { Object.values(datasets).map((dataset) => ( <AIDatasetCard dataset={ dataset } /> )) }
        </div>
    </section>
  </body>
</html>
</BaseLayout>