---
import BaseLayout from '../layouts/BaseLayout.astro';
import HelpNavigation from '../components/HelpNavigation.astro';
import ModelHelpCard from '../components/ModelHelpCard.astro';
import mifa_types from '../data/mifa_types.yaml';

const mifaModels = mifa_types.models;  // Correctly access the models array
---

<BaseLayout pageTitle="MIFA Model Reference">
  <section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
      <HelpNavigation />
    </div>
    <div>
      <h2 class="vf-intro__subheading">MIFA Model Reference</h2>
      <p>
        As part of wider effort towards FAIR data, submissions to the BioImage Archive should feature <a href="https://arxiv.org/abs/2311.10443">MIFA</a>-compliant metadata.
    </p>
          If your data requires more information in order to be Findable, Accessible, Interoperable and Reusable, <a href='contactus'>contact us</a> to discuss your use-case.
        </p>
        <p><b>REMBI version: {mifa_types.rembi_version} </b></p>

      {mifaModels && mifaModels.length > 0 ? (
        mifaModels.map((model) => (
          <ModelHelpCard type={model} />
        ))
      ) : (
        <p>No data available</p>
      )}
    </div>
    <div></div>
  </section>
</BaseLayout>