---
const { collection } = Astro.props;
console.log(collection);
---
<article class="vf-summary vf-summary--news">
    <span class="vf-summary__date text-center">
        { collection.subtitle }
    </span>
    <img src={ collection.summary_image } alt="" class="vf-summary__image" loading="lazy" style="border-radius: 50%">
    <h3 class="vf-summary__title text-center" >
        <a class="vf-summary__link" href={ "/bioimage-archive/" + collection.name } >
                { collection.title }
                </path></svg>
            </a>
        </h3>
</article>