---
//const pagenames = ["Home", "Browse", "Submit", "Galleries", "Help", "Policies", "About"];
const pageData = {
    help: "Help Overview",
    helpfilelist: "File List Help",
    rembihelpoverview: "REMBI Overview",
    rembihelpexamples: "REMBI Examples",
    faq: "FAQ",    
    helpimagesatebi: "Image Data at EBI",
}
---
<!--  <nav class="vf-navigation vf-navigation--main | vf-sidebar" style="margin-top: 0.5rem;"> -->
    <ul class="vf-list vf-list--l">
      {Object.entries(pageData).map(([key, value]) => (
        <li class="vf-list__item">
            <a href={`/${key}`} class="vf-navigation__link">{value}</a>
        </li>
        )
      )}
    </ul>
<!-- </nav> -->