---
const { tomogram } = Astro.props;
---
<article class="vf-card vf-card--brand vf-card--bordered">
    <img src={ tomogram.attributes["_annotated_thumbnail_uri"] } alt="" class="vf-card__image" loading="lazy" style="aspect-ratio: 1/1;">
    <div class="vf-card__content | vf-stack vf-stack--400">
        <h3 class="vf-card__heading">
            <!-- <a class="vf-card__link" href={ "/dataset/" + dataset.accession_id } > -->
                { tomogram.name }
                <!-- <svg aria-hidden="true" class="vf-card__heading__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="currentColor" fill-rule="nonzero"></path></svg> -->
            </a>
        </h3>
        { tomogram.uuid }<hr>
        <p class="vf-card__text">
            Annotations:
        { Object.values(tomogram.annotation_files).map((annfile) => 
        <div class="row">
            <div class='box' style={ "background-color: " + annfile["rendering_colour"] }></div>
            <span>{annfile["name"]} - <a href={annfile["starfile_uri"]}>download STAR file</a></span>
        </div>
        )}
        <hr>
        View: 
        <button><a href={ tomogram.attributes["_neuroglancer_link"]}>Neuroglancer</a></button>
        <button><a href={ tomogram.attributes["_vizarr_link"]}>Vizarr</a></button>
        <button><a href={ tomogram.attributes["_molstar_link"]}>Mol*</a></button>
        <br>
        <button><a href={ tomogram.mrcfile_uri }>Download tomogram</a></button>
        </p>
    </div>
</article>

<style>
    .row {
        /* display : flex; */
        /* align-items : center; */
        /* margin-bottom: 15px; */
    }
    .box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid black;
    clear: both;
    }

</style>