---
import BaseLayout from '../../layouts/BaseLayout.astro';
import datasets from "../../data/datasets.json";

export function getStaticPaths() {
  return Object.keys(datasets).map((accession_id) => {
    return {
      params:  {accession_id: accession_id }
    };
  });
}

const { accession_id } = Astro.params;
const study = datasets[accession_id];
---
<BaseLayout pageTitle= {study.accession_id} >
  <body>
    <section class="vf-intro | embl-grid embl-grid--has-centered-content">
        <div></div>
        <div>
            <h1 class="vf-intro__heading vf-intro__heading--has-tag">{ study.accession_id }<a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">alpha</a></h1>
            <h2 class="vf-intro__subheading">{ study.title }</h2>
            Released { study.release_date }<br>
            <!-- {{ authors }} -->
        </div>
         <div></div>
    </section>
    <section  class="vf-content | embl-grid embl-grid--has-centered-content">
        <div>
          <h2 class="vf-section-header__heading">Content</h2>
          <ul class="vf-list">
            <li>{study.n_images} images</li>
          </ul>
        </div>
        <div>                  
            <figure class="vf-figure vf-figure--align vf-figure--align-centered">
                <img class="vf-figure__image" src={ study.example_image_uri }>
            </figure>  
            { study.description }
        </div>
    </section>
  </body>
</BaseLayout>
